= content_for :sidebar do
  %b Or use our own sign in

.well

  %h3 Sign in using any of the services below

  .logins
    - Authorization.providers.each_with_index do |provider,i|
      = link_to provider.capitalize , "/auth/#{provider.capitalize}", :class => "btn btn-large btn-#{Authorization.colors[i]}"
